* {
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-color: rgb(230, 245, 245);
}

#menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.button {
    background-color: rgb(230, 215, 30);
    flex: 1;
    padding: 50px;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}

#home {
    font-weight: 800;
    flex: 3;
}

.button:hover {
    background-color: rgb(180, 160, 10);
}

.button:active {
    background-color: rgb(150, 120, 10);
}

.link {
    margin: 50px 100px;
    background-color: rgb(170, 230, 30);
    flex: 1;
    padding: 100px;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: rgb(140, 190, 30);
}

.link:active {
    background-color: rgb(110, 150, 20);
}

.container {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, minmax(1fr, 100px));
    grid-template-rows: repeat(4, minmax(1fr, 100px));
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        'a b'
        'c d'
        'e f'
        'g h'
        'i j'
        'k l'
        'm n';
}

.container>img:nth-child(1) {
    grid-area: a/a/d/d;
}

.container>img:nth-child(4) {
    grid-area: g/g/j/j;
}

.container>img {
    width: 100%;
}

article{
    text-align: center;
    background-color: rgb(170, 230, 30);
    margin: 50px 100px;
    padding: 100px;
}
